{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Edit Product</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="admin-body">

<div class="admin-container">

    <!-- SIDEBAR -->
    <div class="admin-sidebar">

        <h2>Luxe Admin</h2>

        <a href="/owner/dashboard/">Dashboard</a>
        <a href="/products/add/">Add Product</a>
        <a href="/owner/products/">View Products</a>
        <a href="/owner/orders/">View Orders</a>
        <a href="/logout/">Logout</a>

    </div>

    <!-- MAIN -->
    <div class="admin-main">

        <div class="page-top">

            <h1>Edit Product</h1>

            <p>Update product details</p>

        </div>

        <div class="product-form-card">

            <form method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="django-form">

                    {{ form.as_p }}

                </div>

                <!-- CURRENT IMAGES -->
                <div class="current-images">

                    <h3>Current Images</h3>

                    <div class="edit-images-grid">

                        {% for img in product.images.all %}

                            <img src="{{ img.image.url }}">

                        {% endfor %}

                    </div>

                </div>

                <!-- NEW IMAGES -->
                <div class="image-upload">

                    <label>Replace Images</label>

                    <input type="file"
                           name="images"
                           multiple>

                </div>

                <button type="submit"
                        class="publish-btn">

                    Save Changes

                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>